/* Write your CSS here */
.user-card-container {
  list-style-type: none;
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}
.image {
  width: 150px;
  height: 100px;
}
.user-name {
  font-size: 15px;
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 8px;
}
